<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.DiscussionDAO">
	<select id="selectDiscussionList" resultType="DiscussionRoomVO">
		select * from discussion_room order by dr_num
	</select>
	<insert id="insertComment">
		insert into comment(co_content, co_me_id, co_dr_num)
		values(#{co.co_content},#{co.co_me_id},},#{co.co_dr_num})
	</insert>
</mapper>